table{
    width: 60%;
    margin: 1px auto;
    border-collapse: collapse;
    text-align: left;

}

#brandtr{border-bottom: 1px solid #cbcbcb;
}
th,td{
    border: none;
    height: 30px;
    padding: 2px;
}

#brandtr:hover{
    background: #f5f5f5;
}